:root {
  /*colors*/
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #fff;
  /*fonts*/
  --font-young-serif: "YoungSerif", serif;
  --font-outfit: "Outfit", sans-serif;
  --font-size-title-d: 4rem;
  --font-size-title-m: 3.6rem;
  --font-size-subtitle: 2.8rem;
  --font-size-notes: 2rem;
  --font-size-body: 1.6rem;
  /*spacing*/
  --space-100: 0.8rem;
  --space-200: calc(var(--space-100) * 2);
  --space-300: calc(var(--space-100) * 3);
  --space-400: calc(var(--space-100) * 4);
  --space-500: calc(var(--space-100) * 5);
  --space-600: calc(var(--space-100) * 6);
  --space-1600: calc(var(--space-100) * 16);
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont.ttf") format("ttf");
}

@font-face {
  font-family: "YoungSerif";
  src: url("../fonts/YoungSerif-Regular.ttf") format("ttf");
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-outfit);
  font-size: var(--font-size-body);
  color: var(--stone-600);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

main {
  display: flex;
  flex-flow: column;
  background-color: var(--stone-100);
}

.post {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: var(--white);
}

.recipe-image {
  max-width: 100%;
  height: fit-content;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.recipe-content {
  display: flex;
  flex-flow: column;
  gap: var(--space-400);
  padding: var(--space-500) var(--space-400);

  & section {
    display: flex;
    flex-flow: column;
    gap: var(--space-300);
  }

  .preparation {
    gap: var(--space-200);
    padding: var(--space-300);
    background-color: var(--rose-50);
    border-radius: 1.2rem;
  }
}

h2:not(.preparation-title) {
  font-family: var(--font-young-serif);
  font-size: var(--font-size-subtitle);
  line-height: 1;
  color: var(--brown-800);
}

.preparation-title {
  font-family: var(--font-outfit);
  font-size: var(--font-size-notes);
  font-weight: 600;
  line-height: 1;
  color: var(--rose-800);
}

.ul-list,
.ol-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  padding-inline-start: calc(var(--space-100) * 2.5);

  .list-item {
    padding-inline-start: var(--space-200);
  }

  ::marker {
    color: var(--brown-800);
    font-weight: bold;
  }
}

.ul-list {
  .list-item {
    strong {
      font-family: var(--font-outfit);
      font-size: var(--font-size-body);
      font-weight: bold;
    }
  }
}

.ol-list {
  strong {
    font-weight: bold;
  }
}

.list-item span {
  font-family: var(--font-outfit);
  font-size: var(--font-size-body);
  line-height: 1.5;
}

.recipe-title {
  font-family: var(--font-young-serif);
  font-size: var(--font-size-title-m);
  line-height: 1;
  letter-spacing: 0;
  color: var(--stone-900);
}

.recipe-subtitle {
  font-family: var(--font-outfit);
  line-height: 1.5;
}

.hr {
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--stone-150);
  margin: auto;
}

.nutrition-table {
  tbody {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: calc(var(--space-100) * 1.5);
  }

  tr {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-200);
    padding-inline: var(--space-400);
    padding-bottom: calc(var(--space-100) * 1.5);

    &:not(:last-child) {
      border-bottom: 1px solid var(--stone-150);
    }

    td {
      max-width: 50%;
      width: 100%;
    }

    .amount {
      color: var(--brown-800);
      font-weight: bold;
    }
  }
}

.attribution {
  text-align: center;
  font-size: var(--font-body);
  background-color: var(--stone-900);
  color: var(--white);
  padding: var(--space-100);

  a {
    color: var(--rose-50);
    text-decoration: underline;
  }
}

@media only screen and (min-width: 768px) {
  main {
    padding: var(--space-1600) var(--space-600);
  }

  .post {
    margin: auto;
    gap: var(--space-500);
    padding: var(--space-500);
    max-width: 73.6rem;
    border-radius: var(--space-300);
  }

  .recipe-image {
    border-radius: 1.2rem;
  }

  .recipe-content {
    padding: 0;
  }

  .recipe-title {
    font-size: var(--font-size-title-d);
  }
}
